<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="easy-money-movement-form-styles.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../cells-radio-group/cells-radio-group.html">
<link rel="import" href="../cells-radio-button/cells-radio-button.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../cells-date-input/cells-date-input.html">
<!--
`<easy-money-movement-form>` description.

Example:

```html
<easy-money-movement-form></easy-money-movement-form>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --easy-money-movement-form  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@customElement
@polymer
@demo demo/index.html
-->
<dom-module id="easy-money-movement-form">
  <template>
    <style include="easy-money-movement-form-styles easy-money-movement-form-shared-styles"></style>
    <slot></slot>
    <p>
      <cells-radio-group id="radioGroupTipoMovimiento"
        aria-label="Tipo Moviento" allowEmptySelection
        on-cells-radio-group-selected-changed="_handleTipoMovimientoGroupSelectedChange">
        <cells-radio-button id="radioIngreso" icon="coronita:chargecard"
          icon-check="coronita:checkmark">Ingreso</cells-radio-button>
        <cells-radio-button id="radioReintegro" icon="coronita:dischargecard"
          icon-check="coronita:checkmark">Reintegro</cells-radio-button>
      </cells-radio-group>
    </p>
    <p>
      <cells-radio-group id="radioGroupCurrency" aria-label="Moneda" selected="0"
      allowEmptySelection on-cells-radio-group-selected-changed="_handleCurrencyGroupSelectedChange">
        <cells-radio-button id="radioEUR" icon="coronita:euro"
          icon-check="coronita:checkmark">EUR</cells-radio-button>
        <cells-radio-button id="radioUSD" icon="coronita:dollar"
          icon-check="coronita:checkmark">USD</cells-radio-button>
      </cells-radio-group>
    </p>
    <p>
      <cells-molecule-input name="amount" label="Importe" type="number"
        icon="coronita:close" icon-label="Borrar campo"
        required error-message="Campo obligatorio" value="{{amount}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-molecule-input name="subject" label="Concepto" type="text"
        icon="coronita:close" icon-label="Borrar campo"
        required error-message="Campo obligatorio" value="{{subject}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-date-input id="datemovement" locale="es" text="Fecha" format="DD/MM/YYYY" allow-past-date on-date-changed="_handleDateChanged">
      </cells-date-input>
    </p>

    <p>
      <cells-st-button on-click="_handleCancelarClick" class="size-xs secondary">
        <button>Cancelar</button>
      </cells-st-button>
      <cells-st-button on-click="_handleAceptarClick" class="size-xs primary">
        <button>Aceptar</button>
      </cells-st-button>
    </p>

    <cells-generic-dp
        id="addmovementdp"
        host="http://localhost:3010"
        path="easymoney/v1/accounts/{{accountId}}/movements"
        handle-as="json"
        method="POST"
        on-request-success="_handleRequestAddMovementSuccess"
        on-request-error="_handleRequestAddMovementError"
        >
    </cells-generic-dp>

  </template>
  <script src="easy-money-movement-form.js"></script>
</dom-module>
